@charset "Shift_JIS";

/*===== basic elements=====*/

body {
margin: 0;
padding: 1em 0.5em;
font-size: 1em;
background-color: #ffe;
}

body {
margin: 0;
padding: 1em 0.5em;
font-size: 1em;
background-color: #ffe;
}

p {
margin: 1em 0.5em;
padding:0;
line-height: 150%;
letter-spacing: 1px;
}

strong {
font-family: monospace;
}

code {
font-size: 1em;
background-color: #f1f1f1;
}

.mono {
font-family: monospace;
}


/*===== headings =====*/

h1 {
margin: 0;
padding: 0;
font-size: 2em;
line-height: 80%;
letter-spacing: 1px;
}

h2 {
margin: 1em 0;
padding: 0.1em 1em;
font-size: 2em;
background-color: #ccc;
border: 1px #fff outset;
font-weight: normal;
line-height: 100%;
}



h3 {
margin: 1em 0;
padding: 0.1em 1em;
font-size: 1.5em;
background-color: #f1f1f1;
border-style: solid;
border-width: 1px;
border-color: #fff #000 #000 #fff;
line-height: 100%;
}

/*===== pre =====*/

pre {
margin: 1em 5em;
padding: 0.5em;
background-color: #f1f1f1;
font-size: 95%;
overflow: auto;
border: 1px #ccc inset;
font-family: monospace;
}

/*===== dl =====*/

dl {
margin: 2em;
padding: 0.5em;
border-style: dotted;
border-width: 1px;
border-color: #fff #000 #fff #000 ;
}

dt {
margin: 0;
padding: 0 0 0 1em;
font-size: 1em;
font-weight: bold;
border-style: solid;
border-width: 1px;
border-color: #fff #000 #000 #fff ;
}

dd {
margin: 0;
padding: 0.5em 0 0 2em;
}


/*===== list default =====*/

.default {
margin: 1em 5em;
padding: 0;
border: 2px solid #ccc;
}

.default ul,.default ol {
border: 1px solid red;
}

.default li{
border: 1px dotted blue;
}


/*===== list test0 =====*/

.testlist0 {
margin: 1em 5em;
padding: 0;
border: 2px solid #ccc;
}

.testlist0 ul,
.testlist0 ol {
margin:0;
padding:0;
border: 1px solid red;
}

.testlist0 ul ul,
.testlist0 ul ol,
.testlist0 ol ul,
.testlist0 ol ol {
margin:0;
padding:0;
}

.testlist0 li {
margin:0;
padding:0;
border: 1px solid blue;
}


/*===== list test3 =====*/


.testlist3 {
margin: 1em 5em;
padding: 0;
border: 2px solid #ccc;
}


.testlist3 ul,
.testlist3 ol {
border: 1px solid red;
margin: 1em 0;
padding: 0 0 0 2em; 
font-weight: normal;
line-height: 120%;
}

.testlist3 ul ul,
.testlist3 ul ol,
.testlist3 ol ul,
.testlist3 ol ol {
margin: 0;
padding: 0 0 0 1em;
font-size: 1em;
}

.testlist3 li {
border: 1px solid blue;
margin: 0.2em 0;
padding: 0;
}


/*===== list test last =====*/

ul.test,
ol.test {
margin: 1em 0;
padding: 0 0 0 2em; 
font-weight: normal;
line-height: 120%;
}

ul.test ul,
ul.test ol,
ol.test ul,
ol.test ol {
margin: 0;
padding: 0 0 0 1em;
font-size: 1em;
}

.test li {
margin: 0.5em 0;
padding: 0;
}

